body {
background-color: rgb(233,233,221);
}
iframe{
	padding-left: .9em;
}
th{
	text-align: center;
}
.content { 
overflow: auto;
height: 100%;
font-size: 90%;}
#nav {
display: inline;
padding: 5%;}
#co {
list-style-type: disc;}
.nonequal {}
.larger {
float: left;
margin: .61%;
padding: .5em;;
background-color:rgb(218,213,197);
width: 63.81%;
height: 15em;
border: 2px solid darkblue;
min-width: 15em;}
.smaller {
float: left;
margin: .61%;
padding: .5em;
background-color: rgb(218,213,197);
width: 30.4%;
height: 15em;
border: 2px solid darkblue;
background: url(./un-logo_DS.jpg);
color: black;}
.smaller>p {
text-align: center;
padding-top: 1.5em;}
cite {
padding: .5em}
#response, #msg, #mssg, #msssg, #hidden, #mssssg {
display: none;	
}
.books, .sites {
	width: 47.7%;
	float: left;
	border: 2px solid darkblue;
	margin: .61%;
	background-color: rgb(218,213,197);
	padding: .25em;
}
div {
	
}
#social{
	position: absolute;
	margin: 2%;
	right: 0px;
	top: 16px;
}