body {
background-color: rgb(233,233,221);
}
iframe{
	padding-left: .9em;
}
th{
	text-align: center;
}
.content { 
overflow: auto;
height: 100%;
font-size: 90%;}
#nav {
display: inline;
padding: 5%;}
#co {
list-style-type: disc;}
cite {
padding: .5em}
#response, #msg, #mssg, #msssg, #hidden, #mssssg {
display: none;	
}
.books, .sites {
	width: 47.7%;
	float: left;
	border: 2px solid darkblue;
	margin: .61%;
	background-color: rgb(218,213,197);
	padding: .25em;
}

#social{
	position: absolute;
	margin: 2%;
	right: 0px;
	top: 16px;
}